<nav class="navbar navbar-dark  navbar-expand-lg" style="background-color:#03040f;">
    <div class="container">
        <a class="navbar-brand" href="home">ImageAlbum</a>  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" *ngIf="role.name == 'Admin'">
                    <a href="" class="nav-link" style="color: white;">Users</a>
                </li>
                <li class="nav-item" *ngIf="role.name == 'Admin'">
                    <a href="" class="nav-link" style="color: white;">Roles</a>
                </li>
                <li class="nav-item" *ngIf="role.name == 'Manager' || role.name == 'Admin'">
                    <a href="" class="nav-link" style="color: white;">Categories</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link" style="color: white;">Network images</a>
                </li>
                <li class="nav-item" *ngIf="role.name == 'User'">
                    <a href="" class="nav-link" style="color: white;">My images</a>
                </li>
            </ul>              
        </div>
        <button class="btn btn-danger" (click)="onLogout()">Logout</button>
    </div>
</nav>

<div class="container" *ngIf="userModel">
    <div class="row justify-content-center">
        <div class="card text-white mb-3 mt-5">
            <div class="card-header">
                <h4 class="mt-2">
                    <i class="tiny material-icons">assignment_ind</i> {{userModel.userName}}
                </h4>
            </div>
            <div class="card-body">
                <h5 class="card-title" > <i class="small material-icons">info</i> Personal information</h5>
                <p class="card-text">Email: {{userModel.email}}</p>
                <p class="card-text" *ngIf="userModel.fullName != null">Full Name: {{userModel.fullName}}</p>
                <p class="card-text" *ngIf="userModel.bio != null">Bio: {{userModel.bio}}</p>
            </div>
        </div>
    </div>
</div>