body {
    background-image: url('./assets/images/background.jpg');
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    padding: 30px;
}

.wrapped-div {
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    background:rgba(230, 250, 198, 0.774);
    width: 90%;
    max-width: 450px;
    position: relative;
    -webkit-box-shadow: 0 30px 60px 0 rgb(73, 0, 0);
    box-shadow: 0 30px 60px 0 hsla(298, 100%, 12%, 0.856);
}

.tab-header {
    text-align: center;
}

.tab-header h2.active {
    color: lightyellow;
    border-bottom-color: lightyellow;
}

.tab-header>h2 {
    text-align: center;
    display: inline-block;
    border-bottom: 2px solid black;
    cursor: pointer;
    padding: 30px 40px 10px 40px;
}

.tab-header h2:focus {
    outline: none;
}